/* COMMON CSS */
* {
  color: #333;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
section {
  width: 100%;
}
.container {
  width: 80vw;
  margin: 0 auto;
}
/* 헤더 부분 */
body {
  width: 100vw;
}
.nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  width: 100%;
  padding-top: 20px;
  background-color: white;
}
/* header-맨 위 부분 */
header .upper {
  width: 100%;
  display: flex;
  justify-content: end;
  font-size: 14px;
  margin-bottom: 10px;
}
header .upper img {
  margin-left: 30px;
  margin-right: 3px;
  width: 15px;
}
/* header 대한항공마크 */
header .lower {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .lower .pic {
  display: flex;
  align-items: center;
}
/* header navbar 메뉴 */
header .lower .menu ul {
  display: flex;
  flex-direction: row;
}
header .menu > ul > li {
  font-weight: bold;
  font-size: 20px;
  padding: 20px 23px;
}
/* 로그인 & 검색 부분 */
.loginmenu {
  display: flex;
  align-items: center;
}
.loginmenu > .button {
  display: block;
  background-color: #00265c;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 14px;
}
.button {
  color: white;
  outline: none;
  align-items: center;
}
.loginmenu > .button:hover {
  border-radius: 20px;
  outline-offset: 5px;
  border: 7px double;
}
.icon1 {
  width: 50px;
}
.icon2 {
  display: none;
}
/* main 부분 */
main {
  width: 100%;
}
/* section 첫 번째 */
.bg {
  background-image: url(./image/mainopen.jpg);
  width: 100%;
  background-size: cover;
  padding: 50px 0;
  margin-bottom: 120px;
}
.main-box {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* 경고 문고  */
.warning {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 5vh;
}
.warning > a {
  color: red;
  font-size: 18px;
  margin-left: 8px;
}
.warning > img {
  margin-left: 15px;
}
/* 항공권 예약 메뉴바 */
.tab-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 15px;
}
.tab-title p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  width: 100%;
  height: 60px;
  background-color: lightslategray;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-right: 1px;
}
.tab-title p:hover {
  color: white;
  text-decoration: underline;
}
.tab-title > p:active {
  color: black;
  background-color: white;
}
/* 항공권 예약 메뉴바 내용 */
.tab_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 230px;
  background: #fff;
  border-radius: 10px;
  flex-direction: row;
}
.tab_box1 {
  display: border;
  margin: 14px;
  line-height: 100px;
  flex-direction: row;
  margin-bottom: 70px;
}
.tab_box1 input {
  display: flex;
  border: none;
  border-bottom: 1px solid black;
  width: 200px;
  height: 20px;
}
.tab_box1-btn {
  margin-bottom: 30px;
  border: 1px solid #00265c;
  background-color: #00265c;
  border-radius: 10px;
  width: 80px;
  height: 50px;
}
.tab_box1-btn a {
  color: white;
  line-height: 50px;
  padding-left: 25px;
  justify-content: center;
}
/*  section 두 번째 */
.cards {
  margin-bottom: 60px;
}
.cards > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
/* 카드 메뉴바 */
.card-view {
  background-color: white;
  box-shadow: 1px 1px 5px black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 350px;
  overflow: hidden;
  border-radius: 10px;
}
.card-item-image {
  background-size: cover;
  height: 50%;
  transition: transform 0.6s;
}
.card-item-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-top: 45px;
  font-weight: bold;
}
.card-item-desc:hover {
  text-decoration: underline;
}
.card-item-image:hover {
  transform: scale(1.3);
}
.image-no1 {
  width: 400px;
  height: 200px;
  background-image: url(./image/sherpa.jpg);
}
.image-no2 {
  width: 400px;
  height: 200px;
  background-image: url(./image/koreanaircard_29aug.jpg);
}
.image-no3 {
  width: 400px;
  height: 200px;
  background-image: url(./image/insurance_ko.jpg);
}
/* section 세 번째 */
.list-container {
  width: 80%;
  margin: 0 auto;
}
/* 게시판 목록 */
.list {
  width: 100%;
  height: 500px;
  margin-right: 100px;
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notice1 {
  flex-grow: 1;
  padding-right: 20px;
}
h2 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 35px;
}
.flex-line {
  padding: 20px;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
}
.list .title {
  font-weight: bold;
}
.list .date {
  font-size: 0.9em;
  font-weight: lighter;
}
.notice1 hr {
  border: 1px solid #f2f2f2;
}
/* 게시판 사진 */
.notice2 img {
  width: 500px;
  border-radius: 10px;
}
.notice2 img:hover {
  box-sizing: border-box;
  border: 3px double blue;
}
/* section 네 번째 */
section.travel-sec {
  background-color: #d0e7f6;
}

.container-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* 여행 정보 사이트 */
.travel {
  width: 100%;
  height: 25vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 100px);
  justify-content: space-evenly;
  align-items: center;
}
.travel h1 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 100px;
}
.card-box1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3%;
}
.flex-card-view {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
}
.flex-card-img {
  display: none;
}
.flex-item {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}
.flex-item-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 70px;
}
.image1 {
  background-image: url(./image/masl__credit-card-pc.png);
}
.image2 {
  background-image: url(./image/masl__hotel-pc.png);
}
.image3 {
  background-image: url(./image/masl__rental-car-pc.png);
}
.image4 {
  background-image: url(./image/masl__duty-free-pc.png);
}
.image5 {
  background-image: url(./image/masl__insurance-pc.png);
}
.image6 {
  background-image: url(./image/masl__guide-book-pc.png);
}
.container .flex-item-image:hover {
  background-color: white;
  text-decoration: underline;
  color: black;
  cursor: pointer;
}
/* footer 부분 */
footer {
  width: 100%;
}
.f-upper {
  width: 100%;
  background-color: #f3f4f8;
  margin-bottom: 30px;
}
.f-upper > .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
/* 기타 참고 메뉴 */
.f-menu {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.flex-box {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
h3 {
  font-weight: bold;
  font-size: 20px;
}
.flex-box a {
  margin-top: 17px;
  margin-bottom: 5px;
  text-decoration: none;
  text-align: left;
}
.flex-box-title {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding-bottom: 10px;
}
.flex-box-title img {
  display: none;
}
.side-box {
  min-width: 300px;
  text-align: right;
}
/* f-lower */
.f-lower > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}
/* 회사 정보 */
.f-low-box1 {
  background-color: white;
  display: flex;
  justify-content: center;
}
h5 span {
  display: border;
  font-weight: bolder;
  color: #00265c;
}
.info1 span {
  display: border;
}
.info2 span {
  display: border;
}
.copyright {
  margin-top: 10px;
  display: border;
  margin-bottom: 30px;
}
/* 회사 연관 마크 */
.f-low-box2 img {
  display: border;
  flex-direction: row;
}

/* 미디어 쿼리 */
@media only screen and (max-width: 1059px) {
  /* header-맨 위 부분 */
  header .upper {
    display: none;
  }
  header .upper img {
    display: none;
  }
  /* header navbar 메뉴 */
  header .lower .menu ul {
    display: none;
  }
  header .menu > ul > li {
    display: none;
  }
  .icon2 {
    display: block;
  }
  .main-box {
    width: 98%;
  }
  /* 경고 문고  */
  .warning {
    height: 11vh;
  }
  .warning > a {
    font-size: 16px;
  }
  .tab-title p {
    font-size: 1rem;
  }
  /* 항공권 예약 메뉴바 내용 */
  .tab_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 480px;
    background: #fff;
    border-radius: 10px;
    flex-direction: column;
  }
  .tab_box1 {
    display: flex;
    flex-direction: column;
    height: 10px;
    line-height: 50px;
  }
  .tab_box1 input {
    border: none;
    border-bottom: 1px solid black;
    width: 800px;
  }
  .tab_box1-btn {
    width: 800px;
    height: 70px;
  }
  .tab_box1-btn a {
    font-weight: bold;
    display: flex;
    margin-top: 10px;
  }
  /* 카드 메뉴바 */
  .card-view {
    box-shadow: 1px 1px 5px lightslategray;
    margin-bottom: 20px;
  }
  /* section 세 번째 */
  .list-container {
    width: 100%;
    margin-left: 25px;
    margin-left: 25px;
    margin-bottom: 120px;
  }
  /* 게시판 목록 */
  .list {
    height: 800px;
    flex-direction: column;
  }
  .notice1 {
    margin-top: 5px;
  }
  .flex-line {
    display: flex;
    justify-content: left;
    flex-direction: column;
  }
  .list .title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  /* 게시판 사진 */
  .notice2 {
    width: 800px;
    height: 300px;
  }
  .notice2 img {
    width: 860px;
    height: 300px;
    object-fit: cover;
  }

  /* 여행 정보 사이트 */
  .travel {
    height: 80vh;
  }
  .travel h1 {
    margin-bottom: 30px;
  }
  .card-box {
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .card-box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
  }
  .flex-card-view {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 89vw;
    height: 60px;
    margin-bottom: 2vh;
    align-items: center;
  }
  .flex-card-view1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .flex-card-img {
    display: block;
    margin-right: 30px;
  }
  .flex-item-image {
    height: 60px;
    width: 40px;
    margin-left: 30px;
  }
  .flex-item {
    text-align: right;
    padding-left: 7px;
    position: relative;
  }

  /* footer 부분 */
  .f-upper {
    width: 100%;
    background-color: #f3f4f8;
    margin-bottom: 30px;
  }
  .f-upper > .container {
    display: flex;
    flex-direction: column;
    margin: 0 25px 0 25px;
  }
  /* 기타 참고 메뉴 */
  .f-menu {
    display: block;
    margin: 30px 0;
    margin-left: 170px;
  }
  .flex-box {
    margin-left: 40px;
    border-bottom: 1px solid gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }
  .flex-box a {
    display: none;
  }
  h3 {
    margin: 17px 0;
  }
  .flex-box-title img {
    display: block;
    margin-right: 70px;
  }
  .side-box {
    text-align: center;
    margin-bottom: 30px;
  }
  .side-box1 img {
    display: inline-block;
    margin-left: 10px;
  }
  /* 회사 정보 */
  h5 span {
    display: border;
    font-weight: bolder;
    color: #00265c;
  }
  .info1 span {
    display: border;
  }
  .info2 span {
    display: none;
  }
  /* 회사 연관 마크 */
  .f-low-box2 {
    display: none;
  }
}
